<h1><%= t('events.title') %></h1>

<%= form_tag('', method: 'post') do |f| %>
  <div class="form-group">
    <%= label t('events.pincode'), :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>

<%= link_to t('events.home'), events_path %>
